.allContent {
    font-family: 'Josefin Sans', sans-serif;
    margin: 0;
    background-color: #d73011;
    color: white;
    /* Looked up text-shadow because I thought it looked cool */
    text-shadow: 3px 3px rgba(0,0,0,.2);
}

/* Nav Bar */
.titleHeader {
    margin: 0;
    font-size: 3rem;
    display: inline-block;
    vertical-align: top;
}

.navBar {
    padding: 1rem;
    background-color: rgba(172,38,14,255);
}

.linkContainer {
    margin: 0;
    padding: 0;
    display: inline-block;
}

.listItem {
    width: 5rem;
    font-size: 1.25em;
    text-align: center;
    display: inline-block;
    padding: 1rem;
    border-radius: 5%;
    text-shadow: none;
    /*background-color: #97220c;*/
}

/* Body */
.hero {
    background-image: url('images/family_friendly_background.png');
    background-size: cover;
    background-position: center;
    height: 30rem;
}

.quote {
    text-align: center;
    font-size: 2em;
    margin: 1rem 0 1rem 0;
}

/* Daily Special */
.dailySpecial {
    width: 100%;
    display: inline-flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.dailySpecial p {
    margin-top: 0;
}

.dailyImg {
    width: 30rem;
    height: 50vh;
    box-shadow: 12px 12px rgba(0,0,0,.2);
    border-radius: 10px;
    margin-left: 1.5rem;
}

.dailySpecialHead {
    margin-left: 1.25rem;
    font-size: 2rem;
    text-shadow: 3px 3px rgba(0,0,0,.2);
}

.dailyTitle {
    font-size: 3rem;
    margin: 0 0 1rem 2rem;
}

/* Popular Items */
.featuredHeader {
    font-size: 3rem;
    text-align: center;
}

.featuredContainer {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.itemCard {
    box-shadow: 12px 12px rgba(0,0,0,.2);
    text-shadow: none;
    background-color: white;
    width: 30rem;
    height: 68vh;
    border-radius: 3%;
}

.itemImg {
    width: 30rem;
    height: 50vh;
    border-radius: 3% 3% 0 0;
}

.itemContainer {
    color: black;
    margin-left: 1rem;
    font-size: 16pt;
}

.tempImageTag {
    max-width: 100%;
    width: 600px;
    height: 400px;
}

/* Directions */
.directionsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    font-size: 16pt;
}

.directionsContainer p {
    margin-bottom: 2rem;
}

.directionsImg {
    width: 45rem;
    height: 30rem;
    margin-right: 2rem;
    box-shadow: 12px 12px rgba(0,0,0,.2);
    border-radius: 10px;
}

.button {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.5rem;
    /* Looked up text-decoration because the underline looked bad */
    text-decoration: none;
    color: black;
    background-color: white;
    padding: 1rem;
    border-radius: 10px;
    border: 2px solid black;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    text-shadow: none;
}

/* Info section */
.infoContainer {
    display: flex;
    justify-content: space-evenly;
    align-items: start;
    margin-top: 3rem;
    margin-bottom: 3rem;
    font-size: 16pt;
}

.infoSection {
    height: 45vh;
    width: 30%;
    background-color: rgba(172,38,14,255);
    border-radius: 10px;
    padding-left: 1rem;
}

/* Footer */
.footer {
    background: rgba(172,38,14,255);
    font-size: 14pt;
    color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    text-shadow: none;
}

p.footerText {
    margin-top: 0;
}

h3.footerText {
    margin-bottom: 1rem;
}